body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: auto;
}

.split {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container img {
  width: 1000px;
}

#markable {
  width: 100%;
  height: auto;
  object-fit: contain;
}

nav.navbar {
  margin-bottom: 10px;
}

nav.navbar button {
  outline: none;
  border: none;
  padding: 5px 10px;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

nav.navbar button:hover {
  background-color: cyan;
  transition-duration: 0.2s;
  color: #8d8d8d;
}

#persons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#persons-list li {
  color: black;
  background-color: lightgray;
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  justify-items: space-between;
  align-items: center;
}

#persons-list li:hover {
  background-color: gold;
}

#persons-list li:last-child {
  margin-bottom: 0;
}

#persons-list li img {
  margin-right: 10px;
  max-height: 50px;
  width: auto;
}

#persons-list li div {
  font-size: 13px;
}

h5 {
  margin: 0;
  padding: 0;
  color: white;
  width: 200px;
}
