body {
  font-family: Arial, Helvetica, sans-serif;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: lightgray;
  border-radius: 6px;
  z-index: 9999999999999999999999;
}
